// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Arimo', sans-serif;
// $font-size-base: 0.9rem;
$font-size-base: 0.7rem;
$line-height-base: 1.6;
